# Learn more about configuring your checkout UI extension:
# https://shopify.dev/api/checkout-extensions/checkout/configuration

# The version of APIs your extension will receive. Learn more:
# https://shopify.dev/docs/api/usage/versioning
api_version = "2023-07"

[[extensions]]
type = "ui_extension"
name = "checkout-upsell-remove-addon"
handle = "checkout-upsell-remove-addon"

# Controls where in Shopify your extension will be injected,
# and the file that contains your extension’s source code. Learn more:
# https://shopify.dev/docs/api/checkout-ui-extensions/unstable/extension-targets-overview

[[extensions.targeting]]
module = "./src/Checkout.tsx"
target = "purchase.checkout.cart-line-item.render-after"

[extensions.capabilities]
# Gives your extension access to directly query Shopify’s storefront API.
# https://shopify.dev/docs/api/checkout-ui-extensions/unstable/configuration#api-access
api_access = true

# Gives your extension access to make external network calls, using the
# JavaScript `fetch()` API. Learn more:
# https://shopify.dev/docs/api/checkout-ui-extensions/unstable/configuration#network-access
# network_access = true

# Loads metafields on checkout resources, including the cart,
# products, customers, and more. Learn more:
# https://shopify.dev/docs/api/checkout-ui-extensions/unstable/configuration#metafields

# [[extensions.metafields]]
# namespace = "my_namespace"
# key = "my_key"
# [[extensions.metafields]]
# namespace = "my_namespace"
# key = "my_other_key"

# Defines settings that will be collected from merchants installing
# your extension. Learn more:
# https://shopify.dev/docs/api/checkout-ui-extensions/unstable/configuration#settings-definition

[extensions.settings]
[[extensions.settings.fields]]
key = "enable_subscription"
type = "boolean"
name = "Enable (Subscribe & Save) button"
description = "Enable the (Subscribe & Save) button in the line items in checkout"

[[extensions.settings.fields]]
key = "subscription_text"
type = "single_line_text_field"
name = "Text in (Subscribe & Save) button"
description = "Text to show in the (Subscribe & Save) button example: Subscribe & Save 25%"

[[extensions.settings.fields]]
key = "enable_remove"
type = "boolean"
name = "Enable (Remove) button"
description = "Enable the (Remove) button in the line items in checkout"

[[extensions.settings.fields]]
key = "remove_text"
type = "single_line_text_field"
name = "Text in (Remove) button"
description = "Text to show in the (Remove) button example: Remove"